.home-icon{
  width: calc(32rem / 16);
  height: auto;
}

.news-section-image img{
  max-width: 100%;
  display: block; /* Add this line */
  height: auto; /* This ensures the aspect ratio is maintained */
}

ion-toolbar {
  --background: url('../../images/header.png');
  --color: white;
}