.toolbar-background{
  background-image: url('../../images/header.png');
}

.toolbar-container{
  background-image: url('../../images/header.png');
}

.home-icon{
  width: calc(24rem / 16);
  height: auto;
}

.app-toolbar {
    background-color: red;
  }

